.gradient-button {
	-fx-background-color: linear-gradient(to bottom right, #0095d9, #4300d9);
	-fx-background-radius: 30;
}

.gradient-button:hover {
	-fx-background-color: linear-gradient(to bottom right, #4300d9, #0095d9);
}

.text-field, .text-field * {
	-fx-background-radius: 30;
	-fx-border-radius: 30;
	-fx-prompt-text-fill: #B2B2B2;
}

.text-field-desc, .text-field-desc * {
	-fx-background-radius: 0 0 30 30;
	-fx-border-radius: 30;
	-fx-prompt-text-fill: #B2B2B2;
}

.text-field .arrow-button {
	-fx-background-radius: 0 30 30 0;
}

.text-field .content {
	-fx-padding: 10;
}

#header-wrapper {
	-fx-border-width: 0 0 4 0;
	-fx-border-color: linear-gradient(to right, #0095d9, #4300d9);
}

#expand {
	-fx-background-image: url("ico/expand.png");
	-fx-background-color: transparent;
}

#navbar {
	-fx-background-color: #96f;
}

.nav-item {
	-fx-background-color: #5a21de;
	-fx-border-width: 0 0 7 0;
	-fx-border-color: #481bb1;
}

.nav-item-hover:hover {
	-fx-background-color: #6a37e1;
	-fx-cursor: hand;
}

.list-cell {
	-fx-border: 0;
	-fx-padding: 0;
	-fx-background-color: #FFFFFF;
}

.round-left-label {
	-fx-background-color: linear-gradient(to bottom right, #a180ec, #80caec);
	-fx-text-fill: #111;
	-fx-padding: 5;
	-fx-background-radius: 15 0 0 15;
}

.round-right-input {
	-fx-background-radius: 0 15 15 0;
}

.tab {
	-fx-text-fill: #fff;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-font-size: 20;
	-fx-padding: 10 20;
}
