.gradient-button {
	-fx-background-color: linear-gradient(to bottom right, #0095d9, #4300d9);
	-fx-background-radius: 30;
}

.gradient-button:hover {
	-fx-background-color: linear-gradient(to bottom right, #4300d9, #0095d9);
}

.text-field, .text-field * {
	-fx-background-radius: 30;
	-fx-border-radius: 30;
	-fx-prompt-text-fill: #B2B2B2;
}

.text-field .arrow-button {
	-fx-background-radius: 0 30 30 0;
}

.text-field .content {
	-fx-padding: 10;
}

#header-wrapper {
	-fx-border-width: 0 0 4 0;
	-fx-border-color: linear-gradient(to right, #0095d9, #4300d9);
}

#expand {
	-fx-background-image: url("ico/expand.png");
	-fx-background-color: transparent;
}

#navbar {
	-fx-background-color: #96f;
}

.nav-item {
	-fx-background-color: #E71D36;
	-fx-border-width: 0 0 7 0;
	-fx-border-color: #d0162b;
}

.nav-item-hover:hover {
	-fx-background-color: #e92f45;
	-fx-cursor: hand;
}